section.gallery h2, section.temoignage h2, section.temoignage-last-tweets h2{
    color: #00748D;
    font-size: 3rem;
    margin: 5rem 0 6rem 0;
}

section.gallery h2 span, section.temoignage h2 span, section.temoignage-last-tweets h2 span{
    color: #CB8606;
}


section.gallery .gallery-image{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin: 3rem;
}

section.gallery .gallery-image img{
    border: 1rem solid #00748D;
}

section.temoignage .temoignage-messages{
    width: 60%;
    height: 42rem;
    overflow: auto;
    margin: auto;
}

section.temoignage .temoignage-messages p{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

section.temoignage .temoignage-bar{
    width: 40%;
    margin: auto;
    height: 0.3rem;
    background-color: #CB8606;
}

/* section.temoignage .tweets-feed{
    width: 60%;
}

section.temoignage .tweets-feed ul li{
    list-style: none;
} */
/* .deco-1 {
    grid-column: 2 / 3;
    grid-row: 2 / 2;
    } */

@media only screen and (min-width: 1100px){

}
    